.content {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 50px 10%;
    gap: 30px;
}

.selection-menu {
    flex: 1;
    min-width: 200px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.selection-menu ul {
    list-style: none;
    padding: 0;
}

.selection-menu li {
    margin-bottom: 15px;
}

.selection-menu a {
    text-decoration: none;
    color: black;
    padding: 15px 20px;
    display: block;
    border-left: 4px solid transparent;
    transition: all 0.3s;
    font-weight: 500;
}

.selection-menu a:hover,
.selection-menu a.active {
    color: #56ABD1;
    background-color: #e5e5e5;
    border-left: 4px solid #56ABD1;
}

.content-section {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img-container img {
    max-width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.content-description {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 1.5;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    line-height: 2.5;
    color: black;
    font-weight: 500;
    font-size: 16px;
}


/* For medium-sized devices */
@media only screen and (max-width: 992px) {
    .content {
        flex-direction: column;
        gap: 20px;
    }

    .selection-menu,
    .content-section {
        width: 100%;
    }

    .img-container img {
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

/* For small devices */
@media only screen and (max-width: 576px) {
    .content {
        padding: 30px 5%;
    }

    .selection-menu {
        min-width: unset;
    }

    .selection-menu a {
        padding: 10px 15px;
    }

    .content-description {
        font-size: 14px;
    }
}